In [1]:
import pandas as pd
import os
import numpy as np
import matplotlib.pyplot as plt

In [6]:
ratings_data = pd.read_csv("ratings_data.csv", header=1)
ratings_data.shape

(331, 188)

In [7]:
ratings_data.head()

,writer,cik,company,date_created,platform,platform_url,sec_filing_url,sec_filing_date,legal_name,dba,...,Attribute - barriers_to_entry,%.11,Attribute - threat_of_substitute_products,%.12,Unnamed: 182,Unnamed: 183,Unnamed: 184,Unnamed: 185,Sum,Overall Ratings (Scaled Sum)
0,Olivia,1778006.0,Weeds Never Sleep,07/03/2019 11:08 AM,TruCrowd,https://us.trucrowd.com/equity/offer-summary/W...,https://disclosurequest.com/form/weeds-never-s...,6/25/2019,Weeds Never Sleep LLC,Weeds Never Sleep or HotZot,...,Low,54%,High,83%,NaN,NaN,2.1,NaN,10.3,2.2
1,Olivia,1720258.0,StorEn Technologies,07/04/2019 8:55 AM,StartEngine,https://www.startengine.com/storen-technologies,https://www.sec.gov/Archives/edgar/data/172025...,7/3/2019,StorEn Technologies,StorEn Technologies,...,High,46%,High,83%,NaN,NaN,2.7,NaN,13.6,3.5
2,Olivia,1753677.0,Palouse Ag-Drone Services,07/11/2019 2:41 PM,Razitall,https://www.razitall.com/pitch/the-ag-drone-an...,https://disclosurequest.com/form/palouse-ag-dr...,10/04/2018,Palouse Ag-Drone Services LLC,The Ag-Drone,...,Low,54%,High,83%,NaN,NaN,2.1,NaN,10.6,2.3
3,Olivia,1765620.0,El Tinieblo International,07/13/2019 10:14 AM,StartEngine,https://www.startengine.com/el-tinieblo-intern...,https://www.sec.gov/Archives/edgar/data/176562...,7/12/19,"El Tinieblo International, Inc.",El Tinieblo International,...,Low,54%,High,83%,NaN,NaN,2.4,NaN,11.8,2.8
4,Olivia,1777377.0,Spero CBD,07/16/2019 10:34 AM,StartEngine,https://www.startengine.com/spero-cbd,https://www.sec.gov/Archives/edgar/data/177737...,7/15/2019,Noble Naturals,Spero CBD,...,High,46%,High,83%,NaN,NaN,2.5,NaN,12.7,3.1

In [8]:
ratings_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 331 entries, 0 to 330
Columns: 188 entries, writer to Overall Ratings (Scaled Sum)
dtypes: float64(93), object(95)
memory usage: 486.2+ KB

In [9]:
ratings_data.columns

Index(['writer', 'cik', 'company', 'date_created', 'platform', 'platform_url',
       'sec_filing_url', 'sec_filing_date', 'legal_name', 'dba',
       ...
       'Attribute - barriers_to_entry', '%.11',
       'Attribute - threat_of_substitute_products', '%.12', 'Unnamed: 182',
       'Unnamed: 183', 'Unnamed: 184', 'Unnamed: 185', 'Sum',
       'Overall Ratings (Scaled Sum)'],
      dtype='object', length=188)

In [10]:
ratings_data.describe()

,cik,relevant_partners,founders,unique_universities,employees,relevent_advisors,notable_investors,spacer founder 1,founder_1_relevant_industry_experience,founder_1_previous_startups,...,Capital Raised,Performance Rating,Unnamed: 174,Diffrentiation Rating,Unnamed: 182,Unnamed: 183,Unnamed: 184,Unnamed: 185,Sum,Overall Ratings (Scaled Sum)
count,2.950000e+02,295.000000,295.000000,295.000000,295.000000,295.000000,295.000000,0.0,295.000000,295.000000,...,262.000000,262.000000,0.0,262.000000,0.0,0.0,262.000000,0.0,262.000000,262.000000
mean,1.764174e+06,3.915254,1.633898,2.247458,5.711864,0.915254,0.261017,NaN,7.877966,0.766102,...,1.156870,2.324427,NaN,2.099237,NaN,NaN,2.467176,NaN,12.341221,2.992748
std,5.653169e+04,32.131897,0.900606,1.865308,7.606502,2.103513,0.959914,NaN,8.646026,1.176385,...,0.385477,0.782529,NaN,1.349641,NaN,NaN,0.403613,NaN,2.018966,0.782021
min,1.398488e+06,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,NaN,0.000000,0.000000,...,1.000000,1.000000,NaN,1.000000,NaN,NaN,1.400000,NaN,7.200000,1.000000
25%,1.751660e+06,0.000000,1.000000,1.000000,2.000000,0.000000,0.000000,NaN,0.000000,0.000000,...,1.000000,2.000000,NaN,1.000000,NaN,NaN,2.200000,NaN,10.800000,2.400000
50%,1.787006e+06,0.000000,1.000000,2.000000,3.000000,0.000000,0.000000,NaN,5.000000,0.000000,...,1.000000,2.250000,NaN,1.000000,NaN,NaN,2.500000,NaN,12.450000,3.000000
75%,1.796330e+06,1.000000,2.000000,3.000000,7.000000,1.000000,0.000000,NaN,11.500000,1.000000,...,1.175000,3.000000,NaN,3.000000,NaN,NaN,2.700000,NaN,13.700000,3.500000
max,1.807638e+06,500.000000,9.000000,12.000000,79.000000,15.000000,9.000000,NaN,42.000000,8.000000,...,5.000000,4.200000,NaN,5.000000,NaN,NaN,3.500000,NaN,17.500000,5.000000