In [1]:
import pandas as pd
import os
import numpy as np
import matplotlib.pyplot as plt

In [3]:
ratings_data = pd.read_csv("4_27_ratings_data.csv", encoding='latin_1')
ratings_data.shape

(288, 191)

In [4]:
ratings_data.columns

Index(['week', 'writer', 'cik', 'company', 'date_created', 'platform',
       'platform_url', 'sec_filing_url', 'sec_filing_date', 'legal_name',
       ...
       'Attribute - has_patents', '%.10', 'Attribute - barriers_to_entry',
       '%.11', 'Attribute - threat_of_substitute_products', '%.12',
       'Unnamed: 187', 'Unnamed: 188', 'Sum.4',
       'Overall Ratings (Scaled Sum)'],
      dtype='object', length=191)

In [5]:
ratings_data['valuations_combined']

,week,writer,cik,company,date_created,platform,platform_url,sec_filing_url,sec_filing_date,legal_name,...,Attribute - has_patents,%.10,Attribute - barriers_to_entry,%.11,Attribute - threat_of_substitute_products,%.12,Unnamed: 187,Unnamed: 188,Sum.4,Overall Ratings (Scaled Sum)
0,NaN,NaN,1744757,KingsCrowd,05/27/2019 8:46 AM,NetCapital,https://netcapital.com/companies/kingscrowd,https://www.sec.gov/Archives/edgar/data/174475...,3/6/2020,Kings Crowd LLC,...,No,76%,0%,1%,0%,1%,NaN,NaN,#NAME?,#NAME?
1,Week 18 (4/27 - 5/3),Olivia,1790587,Fan Owned Club,NaN,WeFunder,https://wefunder.com/fan.owned.club,https://disclosurequest.com/form/fan-owned-clu...,4/10/2020,"Fan Owned Club, Inc.",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Week 18 (4/27 - 5/3),Olivia,1810373,Ryca International,NaN,StartEngine,https://www.startengine.com/ryca,https://www.sec.gov/Archives/edgar/data/181037...,4/23/2020,"Ryca International, Inc.",...,Yes,23%,Low,56%,High,80%,NaN,NaN,#NAME?,#NAME?
3,Week 18 (4/27 - 5/3),Olivia,1805056,NanoVMs,NaN,Republic,https://republic.co/nanovms,https://www.sec.gov/Archives/edgar/data/180505...,4/23/2020,"NanoVMs, Inc.",...,Yes,23%,High,43%,High,80%,NaN,NaN,#NAME?,#NAME?
4,Week 18 (4/27 - 5/3),Olivia,1808208,Furry Fortune Movie,NaN,StartEngine,https://www.startengine.com/furry-fortune-the-...,https://www.sec.gov/Archives/edgar/data/180820...,4/23/2020,"Furry Fortune The Movie, LLC",...,No,77%,Low,56%,High,80%,NaN,NaN,#NAME?,#NAME?

In [14]:
tech_sector_pvt_table = ratings_data.pivot_table(values=['valuations_combined'], index='tech_sector', aggfunc=[np.mean])

In [15]:
tech_sector_pvt_table

                               mean
                valuations_combined
tech_sector
AdTech                 6.793378e+06
AgriTech               1.289917e+07
AutomationTech         7.400000e+06
BioTech                2.151338e+07
CleanTech              2.821846e+07
CommerceTech           4.532400e+06
EdTech                 4.352232e+06
EnterpriseTech         7.838045e+06
FashionTech            1.053333e+07
FinTech                1.693269e+07
FoodTech               7.355963e+06
GamingTech             4.232500e+06
HardwareTech           1.438620e+07
HealthTech             1.124852e+07
LegalTech              1.000000e+07
MarketplaceTech        7.609081e+06
MedTech                9.650000e+06
MediaTech              6.786471e+06
Non-Tech               6.660552e+06
PropTech               1.449820e+07
RegTech                8.930000e+06
RetailTech             7.958750e+06

In [16]:
tech_sector_pvt_table.round(2)

                               mean
                valuations_combined
tech_sector
AdTech                   6793377.50
AgriTech                12899174.83
AutomationTech           7400000.00
BioTech                 21513375.67
CleanTech               28218458.43
CommerceTech             4532400.00
EdTech                   4352232.00
EnterpriseTech           7838045.43
FashionTech             10533333.33
FinTech                 16932690.35
FoodTech                 7355963.40
GamingTech               4232500.00
HardwareTech            14386198.23
HealthTech              11248518.10
LegalTech               10000000.00
MarketplaceTech          7609081.24
MedTech                  9650000.00
MediaTech                6786470.59
Non-Tech                 6660552.10
PropTech                14498200.00
RegTech                  8930000.00
RetailTech               7958750.00